/*  your css code here. If applicable */
*{
	background-image:url("https://www.globalfocusmagazine.com/wp-content/uploads/2020/02/Engaging_with_technology-scaled.jpg");
	background-size:100%;
	background-repeat:no-repeat;
	}
h1{
	text-align:center;
	color:white;
	font-size:20px
}